@CHARSET "UTF-8";

/* 1. menus */
/* 1-1. wide */ 
.nav{	
	width: 100%;
	min-width:1024px;
	height: 64px;
	background-color: #9cc923;
}
.nav .nav-spliter{
	float:left;
	background-color: #8ab21f;
	width:1px;
	height:64px;
	margin:0;
	padding:0;
}
.nav .menu{
	float:left;
	width:100px;
	height:100%;
	text-align:center;	
}
.nav .menu a{	
	padding-top:20px;
	display:inline-block;
	width:100%;
	height:100%;
	color:white !important;
	text-decoration: none;	
	font-weight: bold;	
}
.nav-header{
	float:left;
	background-color: #91bb21;
	width: 200px;
	height:64px;	
}
.nav-header .nav-header-img{
	width:100%;
	height:100%;
	background:url('http://image.gsshop.com/ui/gsshop/shop/images/group_home_title_small_on.png') center no-repeat;
}


/* container */
.container{
	padding-top:10px;
	width:100%;
	min-width: 1024px;
	max-width: 1280px;	
}

/* shop */
.shop-product{
	display:inline;
	width:170px;
	margin-bottom:10px;
}

.shop-product .shop-product-image{
	border:1px solid #eeeeee;
	background: center no-repeat;
	background-size:contain;	
}
.shop-product .shop-product-image img{
	width:160px;
	height:160px;
}

.shop-product .shop-product-info{
	height:100px;
}

/* product */
.product-title-bar{
	padding:5px 5px 5px 5px;
	height:30px;
	background-color: #eeeeee;
}

.product-info-title-bar{
	padding:5px 5px 5px 5px;
	height:30px;
	background-color: #cccccc;
}
.product{
	width:1024px;
	margin:0 auto;
}

.product .product-info-image{
	background-size: contain;
	width:511px;
	height:511px;
	float:left;
}

.product .product-info-content{
	position:relative;
	width:511px;
	height:511px;
	float:right;
}

.product .product-info-action{
	margin-bottom:10px;
}

.product .product-info-price{
	font-size:1.5em;
}

.product .product-info-content .product-info-bottom{
	width:100%;
	position:absolute;
	bottom:0;
}