@CHARSET "UTF-8";

/* 1. menus */
.nav{	
	width: 100%;	
	height: 40px;
	background-color: #9cc923;
}
.nav .nav-spliter{
	float:left;
	background-color: #8ab21f;
	width:1px;
	height:40px;
	margin:0;
	padding:0;
}
.nav .menu{
	float:left;
	width:100px;
	height:100%;
	text-align:center;	
}
.nav .menu a{
	padding-top:10px;	
	display:inline-block;
	width:100%;
	height:100%;
	color:white !important;
	text-decoration: none;	
	font-weight: bold;	
}
.nav-header{
	float:left;
	background-color: #91bb21;
	width: 40px;
	height:40px;	
}
.nav-header .nav-header-img{
	width:100%;
	height:100%;
	background:url('http://image.gsshop.com/ui/gsshop/shop/images/group_home_title_small_on.png') center no-repeat;
	background-size: contain;
}

/* shop */
.shop-product{
	margin-bottom:5px;
	border: 1px solid black;
	height: 200px;
}

.shop-product .shop-product-info{
	height:50px;	
}

/* product */
.product-title-bar{
	text-align:center;
	padding:5px 5px 5px 5px;
	height:30px;
	background-color: #eeaaaa;
}

.product-info-title-bar{
	padding:5px 5px 5px 5px;
	height:30px;
	background-color: #cccccc;
}

.product .product-info-content{
	height: 150px;
	background-color: #eeeeee;
}